@import url(https://fonts.googleapis.com/css?family=Orbitron);

h1{
	font-family: 'Orbitron';
	color: #17d4fe;
}
body{
	background: black;
}
#clock{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color:#17d4fe;
	font-family: Orbitron;
	letter-spacing: 7px;
	font-weight: bold;
}