@import url(https://fonts.googleapis.com/css?family=Geostar+Fill|Orbitron|Press+Start+2P&display=swap);


h1{
	font-family: 'Orbitron';
	color: #17d4fe;
}
body{
	background: black;
}
#clock{
	position: fixed;
	top: 2%;
	left: 2%;
	/*top: 50%; ****Used to center the clock****
	left: 50%;  ****Used to center the clock****
	transform: translate(-50%, -50%);  ****Used to center the clock****  */ 
	color:#17d4fe;
	font-family: Orbitron;
	letter-spacing: 7px;
	font-weight: bold;
	font-size:5em;
}