@import url(https://fonts.googleapis.com/css?family=Geostar+Fill|Orbitron|Press+Start+2P&display=swap);

body{
	background: black;
}
#clock{
	position: fixed;
	top: 2%;
	left: 2%;
	color:#17d4fe;
	font-family: Orbitron;
	letter-spacing: 7px;
	font-weight: bold;
	font-size: 5em;
	overflow: auto;
}
#date{
	position: fixed;
	top: 11%;
	left: 2.5%;
	color:#17d4fe;
	font-family: Orbitron;
	letter-spacing: 7px;
	font-weight: bold;
	font-size: 1em;
	overflow: auto;
}
#location{
	position: fixed;
	top: 15%;
	left: 50%;
	color:#17d4fe;
	font-family: Orbitron;
	letter-spacing: 7px;
	font-weight: bold;
	font-size: 1em;
	overflow: auto;
}
#temp{
	position: fixed;
	top: 20%;
	left: 50%;
	color:#17d4fe;
	font-family: Orbitron;
	letter-spacing: 7px;
	font-weight: bold;
	font-size: 1em;
	overflow: auto;
}
#minutely{
	position: fixed;
	top: 130%;
	left: 50%;
	color:#17d4fe;
	font-family: Orbitron;
	letter-spacing: 7px;
	font-weight: bold;
	font-size: 1em;
	overflow: auto;
}